[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Docker image of KodExplorer
[access "refs/*"]
	owner = group user/Ryan Wu (xaljer)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ryan Wu (xaljer)
	label-Verified = -1..+1 group user/Ryan Wu (xaljer)
	push = group user/Ryan Wu (xaljer)
	read = group user/Ryan Wu (xaljer)
	rebase = group user/Ryan Wu (xaljer)
	removeReviewer = group user/Ryan Wu (xaljer)
	submit = group user/Ryan Wu (xaljer)
[access "refs/heads/*"]
	create = group user/Ryan Wu (xaljer)
	push = +force group user/Ryan Wu (xaljer)
	pushMerge = group user/Ryan Wu (xaljer)
	read = group user/Ryan Wu (xaljer)
[access "refs/tags/*"]
	push = group user/Ryan Wu (xaljer)
	push = +force group user/Ryan Wu (xaljer)
